<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/jobtv.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Job Tv</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <section>
        <header class="header">
          <div class="site-name">
            <nav class="logo">
              <img src="../assets/images/logo.png" alt="" />
            </nav>
          </div>
          <div class="nav-menu">
            <nav>
              <a href="#">Home</a>
              <a href="#">Register Candidates</a>
              <a href="#">Jobs</a>
              <a href="#">Ads report</a>
            </nav>
          </div>

          <div class="nav-action">
            <button>Get Started</button>

            <button class="login">Login</button>
          </div>
        </header>
      </section>
      <!-- hero section -->

      <section class="hero">
        <!-- hero left -->

        <div class="hero-left-wrapper">
          <div class="hero-left">
            <h2>
              If you are looking for work or an employer looking for talent, you
              are in the right place.
            </h2>

            <p>
              JobTV.it is the innovative meeting point where the needs of job
              seekers meet with the opportunities offered by companies, and
              where the hiring process becomes a real "matching" experience.
            </p>

            <div class="hero-left-action-wrapper">
              <button class="login">Login</button>
              <p class="hero-left-action">
                <img src="../assets/images/gridicons_play.png" alt="" />

                <span> This is how it works </span>
              </p>
            </div>
          </div>
        </div>

        <!-- hero right -->

        <div class="hero-right">
          <figure class="image-wrapper">
            <img src="../assets/images/hero-image.png" alt="" />
          </figure>
        </div>
      </section>
    </main>
  </body>
</html>
