<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/jobtv.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Job Tv</title>
  </head>
  <body>
    <main>
      <!-- header section -->
      <section>
        <header class="header">
          <div class="site-name">
            <nav class="logo">
              <img src="../assets/images/logo.png" alt="" />
            </nav>
          </div>
          <div class="nav-menu">
            <nav>
              <a href="#">Home</a>
              <a href="#">Register Candidates</a>
              <a href="#">Jobs</a>
              <a href="#">Ads report</a>
            </nav>
          </div>

          <div class="nav-action">
            <button>Get Started</button>

            <button class="login">Login</button>
          </div>
        </header>
      </section>
      <!-- hero section -->

      <section class="hero">
        <!-- hero left -->

        <div class="hero-left-wrapper">
          <div class="hero-left">
            <h2>
              If you are looking for work or an employer looking for talent, you
              are in the right place.
            </h2>

            <p>
              JobTV.it is the innovative meeting point where the needs of job
              seekers meet with the opportunities offered by companies, and
              where the hiring process becomes a real "matching" experience.
            </p>

            <div class="hero-left-action-wrapper">
              <button class="login">Login</button>
              <p class="hero-left-action">
                <img src="../assets/images/gridicons_play.png" alt="" />

                <span> This is how it works </span>
              </p>
            </div>
          </div>
        </div>

        <!-- hero right -->

        <div class="hero-right">
          <figure class="image-wrapper">
            <img src="../assets/images/hero-image.png" alt="" />
          </figure>
        </div>
      </section>

      <section class="trustedBrandsSec">
        <div>
          <h1 class="tbsHeading">Trusted by 10 + Brands</h1>

          <div class="brands">
            <figure>
              <img src="../assets/images/logo-placeholder 4.png" alt="" />
            </figure>
            <figure>
              <img src="../assets/images/logo-placeholder 4.png" alt="" />
            </figure>
            <figure>
              <img src="../assets/images/logo-placeholder 4.png" alt="" />
            </figure>
            <figure>
              <img src="../assets/images/logo-placeholder 4.png" alt="" />
            </figure>
            <figure>
              <img src="../assets/images/logo-placeholder 4.png" alt="" />
            </figure>
          </div>
        </div>

        <div></div>
      </section>

      <!-- how does it works -->
      <section class="HowDoSection">
        <div>
          <h2 class="tbsHeading">How does it works</h2>

          <div class="workFlow">
            <div class="card">
              <div class="card-number">42</div>
              <img
                src="../assets/images/Click here-pana.png"
                alt="Card Image"
              />
              <div class="card-header">Card Heading</div>
              <div class="card-description">
                This is a small description about the card.
              </div>
            </div>
            <div class="card">
              <div class="card-number">42</div>
              <img
                src="../assets/images/Click here-pana.png"
                alt="Card Image"
              />
              <div class="card-header">Card Heading</div>
              <div class="card-description">
                This is a small description about the card.
              </div>
            </div>
            <div class="card">
              <div class="card-number">42</div>
              <img
                src="../assets/images/Click here-pana.png"
                alt="Card Image"
              />
              <div class="card-header">Card Heading</div>
              <div class="card-description">
                This is a small description about the card.
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <section class="footers">
        <div class="footer-col-1">
          <h2>Job TV</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            non nobis odit illum enim
          </p>
        </div>
        <div class="footer-col-2">
          <h2>Quick Links</h2>
          <p>about us</p>
          <p>contact usd</p>
          <p>registered candidate</p>
          <p>Hiring</p>
          <p>ads report</p>
        </div>
        <div class="footer-col-3">
          <input type="text" placeholder="Email Address" />

          <button>subscribe</button>
          <h3>Social Media</h3>
          <p>
            <img
              src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png "
              alt=""
            />
            <img
              src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png "
              alt=""
            />
            <img
              src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png "
              alt=""
            />
            <img
              src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png "
              alt=""
            />
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
