<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Table</title>
  </head>
  <body>
    <h1 align="center">A Webpage Layout With HTML Table</h1>

    <table
      align="center"
      bgcolor="aqua"
      border="“”"
      cellpadding="0"
      cellspacing="0"
      width="600px"
      height="800px"
    >
      <!-- 1st tr -->
      <tr>
        <td>
          <table height="100%" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <!-- top left -->

              <td width="80%">
                <table
                  height="100%"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr height="50%" width="100%">
                    <td>
                      <table
                        height="100%"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr>
                          <td width="50%">
                            <table
                              width="100%"
                              height="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr height="50%">
                                <td bgcolor="red">1</td>
                              </tr>
                              <tr>
                                <td bgcolor="blue">2</td>
                              </tr>
                            </table>
                          </td>
                          <td bgcolor="cadetblue">3</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr width="100%">
                    <td>
                      <table
                        width="100%"
                        height="100%"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr>
                          <td width="65%" bgcolor="chocolate">4</td>
                          <td bgcolor="coral">5</td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                  </tr>
                </table>
              </td>

              <!-- top right -->
              <td>
                <table
                  height="100%"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr height="45%">
                    <td bgcolor="darkgreen">6</td>
                  </tr>
                  <tr>
                    <td bgcolor="darkturquoise">7</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <!-- 2nd tr -->

      <tr height="50%" width="50%">
        <td>
          <table height="100%" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <table
                  height="100%"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                >
                  <tr>
                    <td width="20%" bgcolor="ghostwhite">1</td>

                    <td>
                      <table
                        height="100%"
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                      >
                        <tr height="60%">
                          <td>
                            <table
                              height="100%"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr>
                                <td bgcolor="dodgerblue">2</td>
                                <td>
                                  <table
                                    height="100%"
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                  >
                                    <tr>
                                      <td bgcolor="burlywood">3</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="darkred">4</td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table
                              height="100%"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tr>
                                <td>
                                  <table
                                    height="100%"
                                    width="100%"
                                    cellpadding="0"
                                    cellspacing="0"
                                  >
                                    <tr>
                                      <td bgcolor="yellow">5</td>
                                    </tr>
                                    <tr>
                                      <td bgcolor="pink">6</td>
                                    </tr>
                                  </table>
                                </td>
                                <td width="35%" bgcolor=" purple">7</td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
