body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1600px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

.signup-page {
  min-height: 100vh;

  display: flex;
  justify-content: space-between;
}
.left-col,
.right-col {
  max-width: 800px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-col {
  background: var(--Secondary-1, #99cb96);
}
.content-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left-text {
  color: var(--Black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 30px;
}
.left-text p span {
  font-size: 28px;
  font-weight: 600;
}
.left-img {
  max-width: 800px;
  width: 100%;
  height: 100%;
}
.left-img img {
  max-width: 800px;
  width: 100%;
  height: 100%;
}
.right-col {
  background: var(--Secondary-3, #d7ebd6);
}

.right-col h2 {
  text-align: start;
  width: 100%;
  color: var(--Black, #000);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
}
.right-col p {
  text-align: start;
  width: 100%;
  color: var(--Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  margin-bottom: 20px;
}
.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
}
.field-wrapper label {
  color: var(--Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.field-wrapper input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--Black, #000);
}

.Create-Account {
  padding: 10px;
  border-radius: 8px;
  background: var(--Black, #000);
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
  color: white;
}
.google-button {
  padding: 10px;
  color: #383838;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 8px;
}

.login-text {
  color: var(--Black, #000);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-text a {
  color: var(--Black, #000);
  text-decoration: none;
  font-weight: 600;
}
