header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: antiquewhite;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
}
:root {
  --primary-color: white;
}
nav {
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 13px;
}
